.page {
    max-width: 820px;
    margin: 0 auto;
    padding: 50px 80px;
    z-index: 10;
}

body {
    background: url("../img/cream_dust.png"); /* courtesy of subtlepatterns.com */
    color: #333;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted #ccc;
}

a:hover {
    color: #000;
}

/* d3 lines */
.text {
    display: inline-block;
    margin: 10px;
    padding: 0 30px;
}

.background {
    z-index: 0;    
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
}

.line {
    fill: none;
    stroke: rgba(50, 0, 100, 0.07);
    stroke-width: 1px;
}
