/* base */
html {
  font-size: 14px;
  background-color: #fafafa;
}

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3rem;
  margin: 0;
  margin-top: 10px;
}

::selection {
  background: #fffb00;
  color: #071e67;
}

/* typography */
h1, h2, h3 {
  margin-block-start: 0;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.1rem;
}
h3 {
  font-size: 1.0rem;
  margin-bottom: 0;
}
p {
  font-size: 1rem;
}

/* links */
a:not(:has(> img)) {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted #ccc;
}
a:hover {
  color: #000;
}

/* lists */
ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
}

/* wrapper */
.main {
  max-width: 850px;
  margin: 10px auto;
}

/* navbar */
.navbar {
  padding-left: 10px;
}
.navbar .name {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
.navbar ul {
  padding-inline-start: 0;
  display: inline-block;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}
.navbar h1 {
  font-size: 1rem;
}

/* page */
.page {
  margin: 0 auto;
  z-index: 10;
  padding: 10px;
}


blockquote {
  margin-left: 0;
  border-left: 6px solid lightgrey;
  background: hsl(228.77deg 35.72% 87.77% / 36%);
  padding: 0.1rem 1rem 0.1rem 1rem;
}

img {
  max-width: 100%;
  height: auto;
}