/* base */
html {
  font-size: 16px;
  background-color: #fafafa;
}

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  margin-top: 10px;
}

::selection {
  background: #fffb00;
  color: #071e67;
}

/* typography */
h1, h2, h3 {
  margin-block-start: 0;
}
h1 {
  font-size: 1.1rem;
}
h2 {
  font-size: 1.05rem;
}
p {
  font-size: 1rem;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted #ccc;
}
a:hover {
  color: #000;
}

/* wrapper */
.main {
  max-width: 850px;
  margin: 10px auto;
}

/* navbar */
.navbar {
  padding-left: 10px;
}
.navbar .name {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
.navbar ul {
  padding-inline-start: 0;
  display: inline-block;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}
.navbar h1 {
  font-size: 1rem;
}

/* page */
.page {
  margin: 0 auto;
  z-index: 10;
  padding: 10px;
}


/* tags */
.tag {
  background: rgb(109, 136, 168);
  font-size: 0.8rem;
  padding: 3px 6px;
  border-radius: 5px;
  color: white;
}